<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
      <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/resume">Resumé</a></li>
      </ul>
      </nav>
      <div class="container">
      <!-- Each page will load here-->
      {{ content }}
      
      </div><!-- /.container -->
      <footer>
      <ul>
        <li><a href="mailto:rashidmashroor@gmail.com">Email</a></li>
        <li><a href="https://github.com/mashroor">Github</a></li>
        <li><a href="https://instagram.com/masheezus">Instagram</a></li>
      </ul>
    </footer>
    
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin>
    </script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin>
    </script>
    <!-- Load our React component. -->
    <script src="like_button.js">
    </script>
  </body>
</html>
